.c-wrapper{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.slider{
    -webkit-appearance: none;
    outline: none;
    border-radius: 4px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

