.c-wrapper{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}
.slider{
    -webkit-appearance: none;
    outline: none;
    border-radius: 4px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.sliderValueWrapper{
    padding: 0;
    margin: 0;
}

.inner-led{
    position: relative;
    border-radius: 50%;
    z-index: 2;
}

.outer-led{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    margin: 30px;
}


.input {
    border: none;
    outline: none;
}

.input:focus{
    border-bottom: solid 2px #444;
}
.input::-webkit-input-placeholder {
    opacity: 0.5;
}

.button{
    outline: none;
    border: none;
}
.progress-bar{
    -webkit-appearance: none;
}