body {
  padding: 0;
  margin: 0;
}
#wrapper{
  font-family: 'Arial', sans-serif;
  color: #444;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
#top-bar{
  position: fixed;
  background-color: #fefefe;
  border-bottom: solid 1px #eee;
  width: 100vw;
  height: 60px;
}
#title{
  text-align: left;
  color: #444;
  width: 100%;
  margin-left: 15px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
}
#info{
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
}

#isConnected{
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 18px;
}
#content {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: scroll;
}
@media screen and (min-width: 768px){
  #isConnected{
    font-size: 30px;
    right: 45px;
  }
  #title{
    text-align: center;
    font-size: 30px;
  }
  #info{
    text-align: center;
    margin-left: 40px;
  }
}

.pwrapper{
  position: absolute;
  width: 400px;
  height: 100px;
  top: 400px;
  left: 700px;
}
#file{
  transform: rotate(-90deg);
  width: 150px;
  -webkit-appearance: none;
}

#file::-webkit-progress-value{
  background: orangered;
  color: blue;
}
#file::-moz-progress-bar{
  background: orangered;
  color: blue;
}


#btn{
  background-color: orangered;
  border: none;
  width: 40px;
  height: 100px;
  font-size: 20px;
}
#txt{
  white-space: pre-line;
}
