body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#wrapper{
  font-family: 'Arial', sans-serif;
  color: #444;
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}
#top-bar{
  position: fixed;
  background-color: #fefefe;
  border-bottom: solid 1px #eee;
  width: 100vw;
  height: 60px;
  z-index: 1;
  padding-bottom: 0;
  
}

#tab-bar {
  position: absolute;
  width: 100vw;
  height: 20px;
  background-color: #fefefe;
  border-top: solid 1px #ede;
  z-index: 1;
  top: 60px;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  
}

.tab-button {
  outline: none;
  background-color: #eee;
  margin: 0;
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  max-width: 10%;
  padding-left: 3px;
  padding-right: 3px;
  color: #333;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  border-top: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;
}

.tab-button-disabled {
  background-color: #ccc;

}

.tab-button:active {
  background-color: #ccc;
}


#title{
  text-align: left;
  color: #444;
  width: 100%;
  margin-left: 15px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
}
#info{
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
}

#isConnected{
  font-size: 18px;
}

.top-right {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 10px;
  right: 15px;
  font-size: 18px;
}

#interval-input {
  max-width: 50px;
}

#interval-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: scroll;
}
@media screen and (min-width: 768px){
  #isConnected{
    font-size: 20px;
    right: 20px;
  }
  #title{
    text-align: center;
    font-size: 30px;
  }
  #info{
    text-align: center;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1024px){#isConnected{right: 45px;}}
