#number-input {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
}


.ni-wrapper{
  position: fixed;
  top: 40%;
  background-color: #fefefe;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 100vw;
  height: 17vh;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ni-text-field{
  width: 150px;
  outline: none;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #888;
  color: #444;
  text-align: center;
}

.ni-button{
  outline: none;
  border: none;
  background-color: #759900;
  color: #fefefe;
  font-weight: 600;
  margin-top: 20px;
  width: 90px;
  padding: 5px;
  font-size: 30px;
}

.ni-button:active{
  background-color:  #89b300;
}

.ni-close-button{
  background-color: #fefefe;
  border: none;
  outline: none;
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0;
  right: 20px;
  top: 10px;
}

.ni-close-button::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #333;
  display: block;
  transform: rotate(45deg);
}

.ni-close-button::after{
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #333;
  display: block;
  transform: rotate(-45deg);
}


.ni-error-message{
  color: red;
  font-size: 12px;
  padding-top: 15px;
  font-weight: 700;
  user-select: none;
}




@media screen and (max-width: 400px){
  .ni-wrapper{
    height: 20vh;
  }
  .ni-text-field{
    font-size: 25px;
  }
  .ni-button{
    font-size: 25px;
  }
}


@media screen and (min-height: 1280px){
  .ni-text-field{
    font-size: 40px;
  }
  .ni-button{
    width: 20vw;
    height: 5vh; 
  }
  .ni-error-message{
    font-size: 18px;
  }
}

@media screen and (min-width: 968px){
  .ni-wrapper{
    width: 30vw;
    border: 1px solid #aaa;
  }
  .ni-button{
    margin-top: 20px;
  }
}
